<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- The deployment descriptor is an xml file, from which Web Container gets the information about the servet to be invoked. -->
    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>com.way_to_create_servlet.DemoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/demoServlet</url-pattern>
    </servlet-mapping>


    <!-- ServletConfig Interface-->
    <servlet>
        <servlet-name>ServletConfigExample</servlet-name>
        <servlet-class>com.servlet.ServletConfigExample</servlet-class>

        <!-- Example of  servletConfig to set variable on servlet label-->
        <init-param>
            <param-name>username</param-name>
            <param-value>Vikash</param-value>
        </init-param>
        <init-param>
            <param-name>totorial</param-name>
            <param-value>Jsp-Servlet</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConfigExample</servlet-name>
        <url-pattern>/servlet_config</url-pattern>
    </servlet-mapping>
</web-app>